@import url(https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500;600&display=swap);

.teste{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1, h3{
        font-family: 'Maven Pro';
        cursor: pointer;
        
        
    }

    .dNone{
        display: none;
    }

    .copy{
        color: green;
        padding: 0.2rem 0.6rem;
        background-color: #00800029;
        border-radius: 1rem;
        font-size: 0.9rem;
        font-weight: 600;
        margin-top: -1rem;
        animation: fadeIn 2s;
    }

    @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
    }

    input{
        font-family: 'Maven Pro';
        font-weight: 600;
        font-size: 2rem;
        width: 14rem;
        height: 4rem;
        text-align: center;
    }

}